/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 14, 2016, 1:39:29 PM
    Author     : gkrabach
*/
.expense-record {
  background-color: #E381A2;
  margin: 0 5px 10px;
  border: 1px solid black;
  height: 100px;
  overflow: hidden;
  padding: 5px;
}

.income-record {
  background-color: #a1d490;
  margin: 0 5px 10px;
  border: 1px solid black;
  height: 100px;
  overflow: hidden;
  padding: 5px;
}

.pending-record {
  border-style: dashed;
}

.row.ledger_day {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px 0px;
}

.row.project-record {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px 0px;
}

.row.project-record select,
.row.project-record .button {
  margin-bottom: 0px;
}

.alt {
  background-color: lightgray;
}
.row.ledger_day .ledger_day_heading {
  padding: 6px 0px 6px 5px;
}

.duplicate-trans{
  background-color: #E381A2;
  margin: 0 5px 10px;
  border: 1px solid black;
  height: 100px;
  overflow: hidden;
  padding: 5px;
}

.import-trans {
  background-color: #a1d490;
  margin: 0 5px 10px;
  border: 1px solid black;
  height: 100px;
  overflow: hidden;
  padding: 5px;
}

a.ledger_link {
  color: inherit;
}

.progress {
  height: 30px;
}

.progress .used {
  padding: 5px 0px;
  height: 25px;
  background-color: green;
  color: white;
  clear: both;
}

.progress .used.budget_okay {
  background-color: #00af1d;
  color: white;
}

.progress .used.budget_caution {
  background-color: #ffe900;
  color: black;
}

.progress .used.budget_danger {
  background-color: #ff9900 ;
  color: black;
}

.progress .used.budget_over {
  background-color: #d13333 ;
  color: white;
  max-width: 100%;
}

.ledger_category, a.ledger_category {
  display: inline-block;
  border: 1px solid black;
  margin: 2px;
  background-color: white;
  padding: 2px 7px 2px 5px;
  color: #00af1d;
  font-size: 12px;
  font-style: italic;
}